@media only screen and (max-width: 1300px) {

  .info-container-1 {
  display:block;
  position: relative;
  z-index: 3;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
  height: 1200px;
  padding: 100px 0;
 }

 .carousel {
  position:relative;
  margin: 0 auto;
  width: 600px;
}

.my-projects {
  
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index:2;
  font-weight: 400;
  font-size: 24px;
  color: #0e1015;

}

.my-projects-info {
  position:relative;
  margin-top: 33px;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  color: #8c979e;
  
}



}